<% include partials/header %>

<h1> Search for a Movie Title Below </h1>

<form action="/results" method="GET">
    <input type="text" placeholder="Type a movie title here">
    <input type="submit">
</form>

<% include partials/footer %>